<main class="main">
    <div class="container">
        <div class="col-12 col-sm-4 col-md-3 my-3 position-relative">
            <input type="text" class="form-control ps-4" placeholder="Text for search">
            <div class="magnifier">
                <i class="fas fa-search"></i>
            </div>
        </div>

        <div class="d-flex col-12 justify-content-end my-2">
            <button [routerLink]="['./add']" class="btn button-lightblue">
                <i class="fas fa-plus"></i>
                Add course
            </button>
        </div>

        <div class="card d-flex flex-md-row flex-column justify-content-between align-items-center my-2 shadow-sm pb-3 pb-md-0">
            <div class="col-12 col-md-9 card-body pt-5 pt-md-3">
                <div class="d-flex card__info text-muted">
                    <div class="card__info-time">
                        <i class="far fa-clock"></i>
                        2h 37min
                    </div>
                    <div class="card__info-date">
                        <i class="fas fa-calendar-alt"></i>
                        28 Sep, 2021
                    </div>
                </div>
                <h3>Title C</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vitae provident laborum corrupti ipsa sit quam atque exercitationem est modi illum consectetur quia totam ipsam, a vero nisi suscipit quo! Excepturi.
                </p>
            </div>
            <div class="d-flex col-7 col-sm-4 col-md-3 justify-content-around  px-md-1">
                <div class="col-12 col-xl-8 col-lg-9 d-flex justify-content-between">
                    <button class="btn button-lightblue">
                        <i class="fas fa-pen"></i>
                        Edit
                    </button>
                    <button class="btn button-lightblue">
                        <i class="fas fa-trash"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>

        <div class="card d-flex flex-md-row flex-column justify-content-between align-items-center my-2 shadow-sm pb-3 pb-md-0">
            <div class="col-12 col-md-9 card-body pt-5 pt-md-3">
                <div class="d-flex card__info text-muted">
                    <div class="card__info-time">
                        <i class="far fa-clock"></i>
                        5min
                    </div>
                    <div class="card__info-date">
                        <i class="fas fa-calendar-alt"></i>
                        1 Aug, 2021
                    </div>
                </div>
                <h3>Title B</h3>
                <p>
                    Lorem ipsum dolor.
                </p>
            </div>
            <div class="d-flex col-7 col-sm-4 col-md-3 justify-content-around  px-md-1">
                <div class="col-12 col-xl-8 col-lg-9 d-flex justify-content-between">
                    <button class="btn button-lightblue">
                        <i class="fas fa-pen"></i>
                        Edit
                    </button>
                    <button class="btn button-lightblue">
                        <i class="fas fa-trash"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>

        <div class="card d-flex flex-md-row flex-column justify-content-between align-items-center my-2 shadow-sm pb-3 pb-md-0">
            <div class="col-12 col-md-9 card-body pt-5 pt-md-3">
                <div class="d-flex card__info text-muted">
                    <div class="card__info-time">
                        <i class="far fa-clock"></i>
                        3h 26min
                    </div>
                    <div class="card__info-date">
                        <i class="fas fa-calendar-alt"></i>
                        25 Jul, 2021
                    </div>
                </div>
                <h3>Title A</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum nemo saepe molestiae architecto maxime assumenda ipsa sapiente quam, vero non nulla ipsam hic nam veniam exercitationem vitae dolore reprehenderit neque voluptatibus possimus laudantium dicta autem suscipit at. Ipsa ratione voluptas placeat, velit inventore iste id, voluptatibus deserunt facilis omnis vero incidunt repellat. Voluptates labore modi inventore corrupti enim provident accusamus reiciendis recusandae dolore, quaerat mollitia eius tempore doloribus voluptatibus laborum assumenda ducimus tenetur aspernatur aliquam fugit ut cumque nisi? Animi rerum nihil, dolore recusandae architecto cumque reprehenderit? Assumenda consequatur hic vero autem esse, numquam quod, praesentium quas odio quam rem modi distinctio quaerat id temporibus quibusdam veritatis earum neque ducimus qui laborum obcaecati! Quos rem ipsam, praesentium repellendus blanditiis temporibus nulla. Pariatur dolore excepturi repellendus nesciunt in sequi repellat quaerat dolorem natus. Totam quae voluptas, assumenda ea exercitationem numquam cum earum, eius alias provident accusantium enim molestias explicabo eos corporis.
                </p>
            </div>
            <div class="d-flex col-7 col-sm-4 col-md-3 justify-content-around  px-md-1">
                <div class="col-12 col-xl-8 col-lg-9 d-flex justify-content-between">
                    <button class="btn button-lightblue">
                        <i class="fas fa-pen"></i>
                        Edit
                    </button>
                    <button class="btn button-lightblue">
                        <i class="fas fa-trash"></i>
                        Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="card shadow-sm">
            <button type="button" class="col-12 btn btn-link">LOAD MORE</button>
        </div>
    </div>
</main>
