.card {
    &-body {
        position: relative;
    }

    &__info {
        position: absolute;
        width: 250px;
        top: 16px;
        right: 16px;
        
        &-time {
            position: absolute;
            top: 0;
            left: 0;
        }

        &-date {
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}

.magnifier {
    position: absolute;
    left: 7px;
    top: 7px;
}

.button-lightblue {
    color: white !important;
    background-color: #2cb7de !important;
}

.btn-link {
    text-decoration: none;
}