<p>course works!</p>
<main class="main">
    <div class="container">
        <div class="card p-3 shadow-sm">
            <h3>New course</h3>
            <app-course-form></app-course-form>
        </div>
    </div>
</main>
