.form-group {
    margin-bottom: 10px;
    position: relative;
}

label.req::after {
    content: '*required';
    position: absolute;
    top: 0;
    right: 0;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.7);
}

.btn-secondary {
    margin-left: 15px;
}