<form>
    <div class="form-group col-12">
        <label class="req" for="title">Title:</label>
        <input id="title" name="title" class="form-control" placeholder="Some title..." required>
    </div>
    
    <div class="form-group col-12">
        <label class="req" for="description">Description:</label>
        <textarea id="description" class="form-control" placeholder="Decription..." required></textarea>
    </div>

    <div class="form-group col-12 col-md-4 col-lg-3">
        <label class="req" for="duration">Duration:</label>
        <input type="number" id="duration" class="form-control" placeholder="Minutes..." required>
    </div>

    <div class="form-group col-12 col-md-4 col-lg-3">
        <label class="req" for="date">Date:</label>
        <input type="date" id="date" class="form-control" required>
    </div>

    <div class="form-group col-12">
        <label class="req" for="authors">Authors:</label>
        <input type="text" list="suggestions" id="authors" class="form-control" placeholder="Authors..." required>
        <datalist id="suggestions">
            <option value="Author 1">Author 1</option>
            <option value="Author 2">Author 2</option>
            <option value="Author 3">Author 3</option>
        </datalist>
    </div>

    <div class="d-flex justify-content-end">
        <button type="button" routerLink='../' class="btn btn-light">Cancel</button>
        <button type="submit" class="btn btn-secondary">Save</button>
    </div>
</form>