/* You can add global styles to this file, and also import other style files */
body {
    background-color: #f2f3f7 !important;
}

a {
    text-decoration: none !important;
}

.dark-bg {
    background-color: #3f4251;
}

.main {
    padding: 70px 0;
}

@font-face {
    font-family: "Oswald Regular";
    src: url("./assets/fonts/Oswald-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
  }
  