<header class="header fixed-top dark-bg">
    <div class="container">
        <nav class="navbar navbar-expand navbar-dark justify-content-between align-items-baseline">
            <a routerLink="" class="navbar-brand"><img src="/assets/logo.svg" alt=""> Video Course</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a routerLink="/courses" routerLinkActive="active-link" class="nav-link">Courses</a>
                </li>
                <li class="nav-item">
                    <a routerLink="/about" routerLinkActive="active-link" class="nav-link">About</a>
                </li>
            </ul>
        </nav>
    </div>
  </header>