.header {
    height: 67px;
}

.navbar-brand {
    font-family: Oswald Regular, Arial, sans-serif;
    text-transform: uppercase;
}

a.active-link {
    background-color: white;
    color: black !important;
    border-radius: 5px;
}