<footer class="footer fixed-bottom dark-bg">
    <div class="container h-100">
        <div class="h-100 d-flex justify-content-sm-end justify-content-center align-items-center text-center">
            Copyright &copy; Videocourses. All rights reserved.
        </div>
    </div>
</footer>