.catalog {
    margin-top: 44px;
    margin-bottom: 150px;

    &__window {
        display: flex;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        border: 1px solid black;
        border-radius: 5px;
        padding: 15px;
        background-color: #f8f8f8;
    }

    &__body {
        width: 80%;
    }

    &__side-bar {
        width: 20%;
        display: block;
        border-left: 1px solid grey;
        height: 100%;
    }

    &__authors,
    &__posts {
        border-bottom: 1px solid grey;
    }

    &__content {
        padding: 15px;
    }
}

.films-list,
.posts-list {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    padding: 10px;
    margin: 0;
    
    &__item {
        background-color: #dae4e4;
        border: 1px solid transparent;
        border-radius: 5px;
        padding: 5px;
        margin: 5px;
        list-style: none;
        text-align: center;
    }

    &__item:hover {
        cursor: pointer;
        border-color: black;
    }

    &__item.active {
        background-color: #bfc7c7;
    }
}

.catalog__side-bar > .posts-list__item {
    margin-left: 20px;
}

.post__title {
    text-align: center;
}

.dispaly-none {
    display: none;
}