.row {
  --bs-gutter-x: 2.5rem;
}

.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -22px 5px 30px 0;
  
  &__box {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 40px;
  }

  &__field { 
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
  }

  &__slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  &__field:checked + &__slider {
    background-color: #ccc;
  }

  &r__field:focus + &__slider {
    box-shadow: 0 0 1px #2196F3;
  }

  &__field:checked + &__slider:before {
    -webkit-transform: translateY(-16px);
    -ms-transform: translateY(-16px);
    transform: translateY(-16px);
  }
}

.container {
  position: relative;
}

.header {
  background: rgba(0, 0, 0, 0);
  z-index: 5;
}

.navbar {
  &__logo {
    font: bold 17px "Hind Siliguri Bold", sans-serif;
    line-height: 28px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-decoration: none;
    white-space: nowrap;
    color: $main-color;
  }

  &__list {
    display: flex;
    padding-left: 5px;
    margin-bottom: 0;
    list-style: none;
  }

  &__link {
    @include regular-smaller-text;
    line-height: 25px;
    text-decoration: none;
  }

  &__link:hover {
    color: $main-color;
    border-bottom: 1px solid black;
    font-weight: bold;
  }
}

.banner {
  padding: 152px 0;
  background: url(../img/bg.jpg) no-repeat center/cover;

  &__content {
    padding-right: 20px;
    margin-bottom: 22px;
  }

  &__title {
    color: $main-color;
    font-family: "Hind Siliguri Semi Bold";
    font-size: 28px;
    letter-spacing: 0;
    line-height: 37px;
  }

  &__description {
    @include regular-text;
    line-height: 26px;
  }

  &__buttons {
    margin-bottom: 55px;
  }
}

.button {
  @include regular-smaller-text;
  line-height: 25px;
  box-sizing: border-box;
  padding: 9px 25px;
  border-radius: $radius;
  border: $border;

  &:hover {
    background-color: #393737;
    color: white;
    cursor: url('../img/light-pointer.svg'), auto;
  }

  &-primary {
    background: #4d4c49;
    color: #ffffff;
  }

  &-secondary {
    background: rgba(0, 0, 0, 0);
    color: $main-color;
  }

  &-primary:disabled,
  &-secondary:disabled {
    opacity: 0.4;
  }

  &__arrow {
    position: absolute;
    top: 40%;
    left: 29%;
    transform: translate(-50%, -50%);
  }
}

.section {
  margin-bottom: 60px;

  &__header {
    text-align: center;
    margin-bottom: 61px;
  }

  &__title {
    color: $main-color;
    font-family: "Hind Siliguri Semi Bold";
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 39px;
    margin-bottom: -1px;
  }

  &__separator {
    margin-bottom: 10px;
  }

  &__description {
    @include regular-text;
    line-height: 26px;
    width: 450px;
    max-width: 100%;
  }

  &-content {
    &__folder:nth-child(2n) .folder__rounder {
      transform: scaleX(-1);
      left: 0;
    }

    &__video {
      position: relative;
    }

    &__folder {
      position: relative;
      text-align: center;
      height: 184px;
      max-width: 260px;
      border-radius: $radius;
      margin-bottom: 20px;
      padding-top: 45px;
    }

    &__image {
      margin-bottom: 20px;
    }

    &__image-description {
      @include regular-text;
      position: absolute;
      bottom: 27px;
      left: 50%;
      transform: translate(-50%, 0);
      margin: 0;
      line-height: 28px;
    }

    &__preview {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &__play {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -67%);
      cursor: pointer;
    }
  }
}

.folder__rounder {
  position: absolute;
  top: 0;
  right: 0;
  width: 33px;
  height: 38px;
  background: white;
  border-bottom-left-radius: $radius;

  &::after {
    content: "";
    position: absolute;
    top: 36px;
    right: -2px;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    box-shadow: -2px 2px 0px 0px white inset;
    border-top-right-radius: $radius;
  }

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    right: 31px;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, 0);
    box-shadow: -2px 2px 0px 0px white inset;
    border-top-right-radius: $radius;
  }
}

.typography-folder {
  position: relative;
  background: linear-gradient(
    108.56deg,
    rgba(230, 246, 65, 0.5) 0%,
    rgba(41, 252, 154, 0.5) 100%
  );
  background-color: #ffb0b0;
}

.icon-folder {
  background: linear-gradient(
    236.77deg,
    rgba(247, 247, 247, 0.5) 0%,
    rgba(35, 86, 255, 0.5) 100%
  );
  background-color: #b0d1ff;
}
.accurate-folder {
  background: linear-gradient(
    236.42deg,
    rgba(255, 255, 255, 0.5) 0%,
    rgba(255, 9, 9, 0.5) 100%
  );
  background-color: #ffb0b0;
}

.post {
  &__image {
    border-radius: $radius;
    margin-bottom: 20px;
  }

  &__title {
    color: $main-color;
    font-family: "Hind Siliguri Medium";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 32px;
    margin-bottom: 6px;
  }

  &__link {
    text-decoration: none;
    color: $main-color;
  }

  &__description {
    @include regular-smaller-text;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__info {
    color: #818181;
    font-family: "Hind Siliguri Regular";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
  }

  &__comments {
    padding-bottom: 5px;
  }
}

.portfolio {
  position: relative;
  text-align: center;
  margin-bottom: 40px;
  max-width: 390px;
  padding: 0 15px;
  cursor: pointer;

  &__tools {
    position: absolute;
    display: flex;
    bottom: 0;
    right: 15px;
    background: rgba(0, 0, 0, 0.6);
    height: 60px;
    width: 101px;
  }

  &__bg:hover {
    box-shadow: 0px 7px 8px -3px rgba(109, 109, 109, 0.5);
    cursor: url('../img/white-pointer.svg'), auto;
  }

  &:hover > .hide {
    display: flex;
  }

  &__text {
    color: white;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
  }

  &__title {
    color: #ffffff;
    font-family: "Hind Siliguri Bold";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__description {
    font-family: "Hind Siliguri Light";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
    text-align: center;
    margin-bottom: 0;
  }
}

.nav {
  &-link {
    padding: 0;
  }

  &-button {
    position: relative;
    margin: 0 13px;
    box-sizing: border-box;
    width: 45px;
    height: 45px;
    border: $border;
    border-radius: $radius;
    background-color: #ffffff;
    cursor: pointer;
  }

  &-button:hover {
    box-shadow: 0 4px 8px 0 #6d6d6d;
    cursor: url('../img/dark-pointer.svg'), pointer;
  }
}

.arrow {
  &-left {
    transform: rotate(90deg);
  }

  &-right {
    transform: rotate(-90deg);
  }
}

.testimonial {
  height: 529px;
  padding-top: 79px;
  background: url("../img/Bg_testimonial.png") no-repeat center / cover;

  &__block {
    position: relative;
    width: 630px;
    margin: -20px auto 0;
  }

  &__card {
    margin-bottom: 20px;
  }

  &__text {
    position: relative;
    display: inline-block;
    width: 50%;
    background: #494a4d;
    color: white;
    padding: 53px 46px 0;
    border-top-left-radius: $radius;
    border-bottom-left-radius: $radius;
  }

  &__blockquote {
    font-family: "Hind Siliguri Semi Bold";
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 36px;
  }

  &__blockquote::before {
    content: open-quote;
    position: absolute;
    top: 30px;
    left: 33px;
    font-size: 28px;
    line-height: 45px;
    letter-spacing: 0;
  }

  &__author {
    font-family: "Hind Siliguri Regular";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 0;
  }

  &__prof {
    font-family: "Hind Siliguri Light";
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 25px;
  }

  &__photo {
    width: 50%;
    z-index: -1;
    border-top-right-radius: $radius;
    border-bottom-right-radius: $radius;
  }
}

.social {
  padding: 20px 0 17px;

  &__link {
    margin-right: 25px;
  }
}

.steps {
  background-color: #f8f8f8;
  padding-top: 105px;
  padding-bottom: 25px;

  &__list {
    position: relative;
    margin-top: 42px;
    padding-left: 37px;
  }

  &__item::marker {
    letter-spacing: -1px;
  }

  &__item {
    @include regular-smaller-text;
    line-height: 26px;
  }

  &__line {
    position: relative;
  }

  &__line::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -29px;
    height: 100%;
    border-left: 1px solid #dddddd;
  }

  &__title {
    margin: 0 2px 6px;
    font-family: "Hind Siliguri Bold";
    font-weight: bold;
  }

  &__description {
    padding-bottom: 30px;
    width: 330px;
    max-width: 100%;
    margin: 0;
  }

  &__marker {
    position: absolute;
    margin-top: 5px;
    left: 0;
    height: 17px;
    width: 17px;
    border: 3px solid $main-color;
    border-radius: 50%;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  &__marker::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    border: 4px solid #ffffff;
    background-color: $main-color;
  }
}

.contact-us {
  margin-top: 82px;

  &__block {
    height: 623px;
    width: 760px;
    position: absolute;
    border-radius: $radius;
    box-shadow: 0 8px 25px 0 #b7b7b7;
    z-index: 1;
  }

  &__text {
    padding-top: 4px;
    color: $main-color;
    font-family: "Hind Siliguri Medium";
    font-size: 17px;
    font-weight: 500;
    letter-spacing: -0.01rem;
    line-height: 21px;
    margin-bottom: 9px;
  }

  &__head {
    padding: 8px 19px 0;
    background-color: #f8f8f8;
    border-radius: 5px 5px 0 0;
  }

  &__body {
    border-radius: 0 0 5px 5px;
    background: white;
  }
}

.form {
  @include regular-text;
  line-height: 28px;
  padding: 30px 30px 0;

  &__showpass {
    float: right;
    color: $main-color;
    font-family: "Hind Siliguri Regular";
    font-size: 14px;
    letter-spacing: 0;
    line-height: 23px;
    cursor: pointer;
  }

  &__group {
    position: relative;
    margin-bottom: 29px;
  }

  &__label {
    margin: 0 0 5px;
  }

  &__input {
    border: 1px solid #dcdcdc;
    padding: 10px 8px;
    display: block;
    width: 320px;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    @include regular-smaller-text;
    line-height: 25px;
  }

  &__input:invalid {
    border: 1px solid #f06786;
  }

  &__input:focus {
    outline: none;
    border: $border;
  }

  &__dna {
    margin-top: 40px;
  }

  &__link {
    color: $main-color;
    font-family: "Hind Siliguri Bold";
    font-size: 17px;
    font-weight: bold;
  }
}

.footer {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  background: #f8f8f8;
  z-index: 5;

  &__line {
    width: 100%;
    height: 1px;
    margin: 8px 0 0;
    background-color: black;
  }

  &__copy {
    color: #333333;
    font-family: "Hind Siliguri Regular";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    margin: 5px 0 0;
  }

  &__logo {
    margin-top: 5px;
    margin-left: 68px;
  }
}

.article {
  margin-bottom: 50px;
  &:hover {
    box-shadow: 0 75px 30px -80px gray;
    transition: 0.5s;
    cursor: url('../img/post-cursor.svg'), auto;
  }
}

.user {
  &__photo {
    margin-right: 14px;
    &-img{
      border-radius: 50%;
      height: 54px;
      width: 54px;
    }
  }

  &__name {
    color: $main-color;
    font-family: "Hind Siliguri Medium";
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 28px;
    padding-top: 2px;
    margin: 0;
  }
}

.mb-40 {
  margin-bottom: 40px;
}

.mr-21 {
  margin-right: 21px;
}

.blog {
  margin-top: 44px;
}

.search {
  position: relative;

  &__input {
    margin: -22px 0 30px;
  }

  &__input:focus {
    outline: none;
  }

  &__input:focus + &__list {
    display: block;
  }

  &__magnifier {
    position: absolute;
    right: 14px;
    top: -12px;
    background: white;
  }

  &__box {
    position: relative;
  }

  &__list {
    position: absolute;
    top: 22px;
    left: 0;
    width: 320px;
    display: none;
    background-color: white;
    z-index: 100;
    border: 1px solid black;
    border-top: 0;
    border-radius: 0 0 0.25rem 0.25rem;

    &-item {
      display: flex;
      justify-content: start;
      align-items: center;
      margin: 0 auto;
      height: 47px;
      width: 300px;
      border-radius: 5px;
      color: #4D4949;
      font-family: "Lucida Grande";
      font-size: 15px;
      letter-spacing: 0;
      line-height: 18px;
      overflow: hidden;
      white-space: nowrap;
      cursor: pointer;
    }

    &-item:first-child {
      border-top: 1px solid #E6E6E6;
      border-radius: 0 0 5px 5px;
    }

    &-item:hover {
      background: #F8F8F8;
      cursor: url('../img/dark-pointer.svg'), pointer;
    }

    &-img {
      border-radius: 50%;
      height: 37px;
      width: 37px;
      margin-right: 5px;
    }
  }


}

.show-more {
  padding-top: 7px;
  margin-bottom: 152px;
}

.background {
  position: sticky;
  top: 0px;
  width: 100%;
  height: 75px;
  background: white;
  display: inline-block;
  z-index: 2;
}

.hide {
  display: none;
}

.video-block {
  width: 100%;
}

.active {
  border-bottom: 1px solid black;
  font-weight: bold;
}

@font-face {
  font-family: "Hind Siliguri Light";
  src: url("../fonts/HindSiliguri-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Hind Siliguri Regular";
  src: url("../fonts/HindSiliguri-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Hind Siliguri Semi Bold";
  src: url("../fonts/HindSiliguri-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Hind Siliguri Medium";
  src: url("../fonts/HindSiliguri-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Hind Siliguri Bold";
  src: url("../fonts/HindSiliguri-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}

@media (min-width: 320px) {

  .article {
    display: flex;
    flex-direction: column-reverse;
  }
  
  .video{
    &__preview {
      height: 100%;
    }

    &__player {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    &__stats {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-around;
      padding-right: 50px;
    }
  }

  .text {
    &__stats {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-between;
      padding-right: 60px;
    }
  }

  .picture {
    &__preview {
      width: 100%;
      &-img {
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
      }
    }

    &__stats {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-around;
      padding-right: 50px;
    }
  }

  .melody {
    &__preview {
      width: 100%;
      &-img {
        border-radius: 5px;
        object-fit: cover;
        width: 100%;
      }
    }

    &__stats {
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      justify-content: space-around;
      padding-right: 50px;
    }

    &__audio {
      max-width: 100%;
    } 
  }
    
  .contact-us {
    &__map {
      display: none;
    }
    
    &__block {
      height: auto;
      width: 760px;
      max-width: 100%;
      position: static;
      border-radius: $radius;
      margin-bottom: 20px;
    }
  }
  .testimonial {
    display: none;

    &__card {
      position: relative;
    }
  }

  .btn {
    &-right {
      position: absolute;
      top: 50%;
      transform: translate(-25%, -50%);
      z-index: 1;
    }

    &-left {
      position: absolute;
      top: 50%;
      transform: translate(25%, -50%);
      z-index: 1;
    }
  }

  .navbar {
    &__logo {
      text-align: center;
    }

    &__link {
      font-size: 10px;
    }
  }

  .background {
    height: 100px;
  }

  .post {
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
  }

  .folders {
    display: flex;
    flex-direction: column;
  }

  .footer {
    position: static;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: -70px;

    &__logo {
      margin: 0;
      text-align: center;
    }

    &__copy {
      text-align: center;
    }
  }
}

@media (min-width: 576px) {
  .folders {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .post {
    max-width: 100%;
    width: 325px;
    margin: 0 auto;
  }

  .portfolio {
    &__text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &__title {
      font-size: 15px;
      line-height: 20px;
    }

    &__description {
      font-size: 12px;
      line-height: 15px;
    }
  }

  .testimonial__blockquote {
    font-size: 14px;
    margin-bottom: 26px;
  }

  .footer {
    height: 80px;
    display: flex;
    flex-direction: column;

    &__flexbox {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    &__logo {
      text-align: left;
    }

    &__link {
      @include regular-smaller-text;
      line-height: 25px;
    }
  }

  .background {
    height: 75px;
  }

  .contact-us__block {
    height: auto;
    top: -20px;
    right: 0;
    width: 320px;
    position: absolute;
    margin-bottom: 0;
  }

  .testimonial {
    display: block;
    
    &__card {
      height: 250px;
    }

    &__blockquote {
      font-size: 17px;
      margin-bottom: 38px;
    }
  }

  .portfolio {
    &__title {
      font-size: 18px;
      line-height: 20px;
    }

    &__description {
      font-size: 14px;
      line-height: 18px;
    }

    &__text {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .btn {
    &-right {
      position: absolute;
      top: 47%;
      right: -50px;
      transform: translate(10%, -54%);
      z-index: 1;
    }

    &-left {
      position: absolute;
      top: 47%;
      left: -50px;
      transform: translate(-10%, -54%);
      z-index: 1;
    }
  }

  .footer__flexbox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 992px) {
  .article {
    flex-direction: row;
  }

  .post {
    width: 400px;
    margin: unset;
  }



  .melody__preview,
  .picture__preview {
    position: relative;
    height: 100%;
  }
  
  .melody__preview-img,
  .picture__preview-img,
  .video__player {
    width: 460px;
    height: 450px;
  }

  .portfolio {
    &__title {
      font-size: 18px;
      line-height: 25px;
    }

    &__description {
      font-size: 14px;
      line-height: 18px;
    }

    &__text {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    background: #f8f8f8;
    z-index: 5;
  
    &__line {
      width: 100%;
      height: 1px;
      margin: 8px 0 0;
      background-color: black;
    }
  
    &__copy {
      color: #333333;
      font-family: "Hind Siliguri Regular";
      font-size: 15px;
      letter-spacing: 0;
      line-height: 25px;
      margin: 5px 0 0;
    }
  
    &__logo {
      margin-top: 5px;
      margin-left: 68px;
    }
  }
  
  .contact-us__block {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1160px !important;
    padding: 0 !important;
  }

  .folders {
    display: block;
  }

  .melody__preview,
  .picture__preview {
    width: 560px;
  }

  .video__player,
  .melody__preview-img,
  .picture__preview-img {
    width: 560px;
    height: 379px;
  }

  .contact-us {
    &__block {
      top: 0;
      width: 760px;
    }

    &__map {
      display: block;
      width: 379px;
      height: 558px;
    }
  }

  .portfolio {
    &__title {
      font-size: 20px;
      line-height: 30px;
    }

    &__description {
      font-size: 15px;
      line-height: 25px;
    }

    &__text {
      top: 100px;
      left: 50%;
      transform: translate(-50%, 0);
    }
  }

  .testimonial__card {
    height: 265px;
  }
}
