.my-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 400px;
    max-width: 90%;
    background: white;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    z-index: 7;
    
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.3;
        z-index: 6;
    }

    &__header {
        @include regular-text;
        position: relative;
        padding: 5px 10px;
        background-color: lightgrey;
        border-radius: 5px 5px 0 0;
    }

    &__close {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 15px;
        height: 15px;
        text-decoration: none;
        background: #f65950;
        border-radius: 50%;
    }

    &__footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 5px 10px;
        background-color: lightgrey;
        border-radius: 0 0 5px 5px;
    }

    &__main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 80px;
    }

    &__message {
        @include regular-text;
        margin: 0;
        flex-basis: 60%;
        text-align: center;
    }
}