.scale-slider-container {
    margin: 0 auto;
    width: 560px;
    position: relative;
    overflow: hidden;
    user-select: none;
  }
  .scale-slider-track {
    display: flex;
    height: 100%;
  }
  .scale-slider-item {
    min-width: 560px;
    position: relative;
  }

.carusel-slider-container {
  overflow: hidden;
}