.text {
  position: relative;
  border-radius: 5px;
  background-color: #fcf6f6;

  &__sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -3px;
    right: -3px;
    height: 76px;
    width: 84px;
    border: 3px solid #ffffff;
    border-radius: 5px;
    background-color: #fcf6f6;
  }

  &__content {
    padding: 25px 26px 42px;
  }

  &__info {
    display: flex;
    flex-direction: row;
    margin-bottom: 14px;
  }

  &__stats {
    color: #818181;
    font-family: "Hind Siliguri Regular";
    font-size: 15px;
    letter-spacing: 0;
    line-height: 25px;
    margin-bottom: 25px;
  }

  &__stars {
    margin-left: 8px;
  }

  &__title {
    color: #4d4949;
    font-family: "Hind Siliguri Medium";
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 26px;
    margin-bottom: 15px;
  }

  &__paragraph {
    
    @include regular-text;
    padding-right: 62px;
    margin-bottom: 30px;
  }
}