@mixin regular-text {
    font: {
        family: "Hind Siliguri Regular";
        size: 17px;
    };
    color: $main-color;
    letter-spacing: 0;
}

@mixin regular-smaller-text {
    font: {
        family: "Hind Siliguri Regular";
        size: 15px;
    };
    color: $main-color;
    letter-spacing: 0;
}

$main-color: #4D4949;
$radius: 5px;

$border: 1px solid $main-color;